aside form{
    margin-top: 30px;
}

aside form .input-block + .input-block{
    margin-top: 20px;
}

aside form .input-group{
    display: grid;
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

aside form .input-group .input-block{
    margin-top: 0;
}

aside form .input-block label{
    color: #acacac;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

aside form .input-block input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
}

aside form button[type=submit]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #7d40e7;
    border-radius: 2px;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background .5s;
}

aside form button[type=submit]:hover{
    background-color: #6931ca;
}